
.login-form {
    display: inline-block;
    width: 70%;
    max-width: 300px;
  }
  
h2 { width: 100%; margin: 50px 0 !important; position: relative; line-height: 58px; font-weight: 400;}
h2:before{content: ""; position: absolute; left: 50%; bottom: 0; width: 100px; height: 2px; background-color: #2079df; margin-left: -50px;}

.campo {
  width: 100%;
  margin: 40px 0;
}

.efecto{width: 100%; border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}
.efecto ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
.efecto:focus ~ .focus-border,
.has-content.efecto ~ .focus-border{width: 100%; transition: 0.4s;}
.efecto ~ label{position: absolute; left: -100px; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.efecto:focus ~ label, .has-content.efecto ~ label{top: -16px; font-size: 12px; color: #3399FF; transition: 0.3s;}